/* Global */

:root{
    --primary: #0062AF;
    --red: #f00;
    --border-color: #B0B0B0;
    --black: #000000;
    --white: #ffffff;
    --p-40: 40px;
    --background: #F8F8F8;
    --green: #00CA76;
    --paragraph: #252525;
    --yellow: #FFB64D;
    --red-light: #FF5370;
    --blue-light: #536DFE;
    --pink-light: #FF00F5;
}
body {
    font-family: 'Inter', sans-serif;
}
.active-btn{
    background-color: #00CB6A;
    min-width: 111px;
}
.form-control:focus{
    box-shadow: 0px 4px 8px rgb(0 0 0 / 15%) !important;
}
.active-btn:hover{
    background-color: #00CB6A !important;
}
.inactive-btn{
    background-color: #E07A11;
    min-width: 111px;
}
.inactive-btn:hover{
    background-color: #E07A11 !important;
}
h1, h2, h3, h4{
    font-weight: 700;
}
a{
    text-decoration: none;
}
.green-color{
    color: var(--green);
}
.yellow-color{
    color: var(--yellow);
}
.yellow-bg{
    background-color: var(--yellow);
}
.red-color{
    color: var(--red);
}
.red-light-color{
    color: var(--red-light);
}
.blue-light-color{
    color: var(--blue-light);
}
.z-index-1{
    z-index: 1;
}
.pink-light-color{
    color: var(--pink-light);
}
.edit-bg{
    background-color: #0085FF;
}
.form-check-input{
    border: 2px solid var(--primary);
    width: 20px;
    height: 20px;
    margin-top: 2px;
}
p {
    color: var(--paragraph);
}
.h-100vh {
    height: 100vh;
}

.text-red{
    color: var(--red);
}
.primary{
    color: var(--primary);
}
button:hover{
    background-color: rgb(0 143 255 / 80%) !important;
}
.primary-bg{
    background-color: var(--primary);
}
.wrapper button:hover{
    background-color: var(--white) !important;
}
.list-style-none{
    list-style: none;
}
.delete-bg{
    background-color: #FF3737;
}
.view-bg{
    background-color: #37A7FF;
}
.form-control{
    border: 1px solid var(--border-color);
    padding: 8px 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    border-radius: 6px !important;
    text-align: left;
}
.btn{
    border-radius: 6px !important;
    padding: 8px 40px;
}
.fw-600{
    font-weight: 600;
}
.fw-500{
    font-weight: 500;
}
.fs-14{
    font-size: 14px;
}
input.form-control::placeholder{
    color: gray !important
}
textarea.form-control{
    resize: none;
    border: 0px solid;
    border-radius: 8px !important;
}
.navbar-nav li a img{
    max-width: 48px;
}
.wrapper .checkboxes span{
    font-size: 15px;
}
/* .activity-logs tr, .activity-logs td{
    white-space: nowrap;
} */
.actions-btn li a{
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.white-cover-bg{
    min-height: calc(100vh - 240px);
}
/* Dashboard */
.user-name img{
    max-width: 40px;
}
thead th{
    color: var(--white);
}
.dataTables_length{
    display: none !important;
}
.dataTables_filter{
    margin-bottom: 15px;
    margin-left: 340px;
    display: none !important;
}
.dataTables_filter input{
    background-color: var(--white) !important;
    max-width: 200px;
}
table{
    border-radius: 12px !important;
}
#list-show{
    border: 0px solid;
    background-color: transparent;
    border-bottom: 1px solid black;
    border-radius: 0px !important;
    box-shadow: 0px 0px 0px 0px black !important;
}
/* .dataTables_wrapper{
    margin-top: -72px;
} */
table.dataTable thead>tr>th.sorting:before, table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:before, table.dataTable thead>tr>th.sorting_asc_disabled:before, table.dataTable thead>tr>th.sorting_desc_disabled:before, table.dataTable thead>tr>td.sorting:before, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:before, table.dataTable thead>tr>td.sorting_asc_disabled:before, table.dataTable thead>tr>td.sorting_desc_disabled:before {
    bottom: 38%;
    content: "\2191";
    font-size:0.9rem;
    
}
table.dataTable thead>tr>th.sorting:after, table.dataTable thead>tr>th.sorting_asc:after, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>th.sorting_asc_disabled:after, table.dataTable thead>tr>th.sorting_desc_disabled:after, table.dataTable thead>tr>td.sorting:after, table.dataTable thead>tr>td.sorting_asc:after, table.dataTable thead>tr>td.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc_disabled:after, table.dataTable thead>tr>td.sorting_desc_disabled:after {
    top: 50%;
    content: "\2193";
    font-size:0.9rem;
    right: 0px;
}
.dataTables_info , .dataTables_paginate{
    margin-top: 15px;
}
table.dataTable.no-footer{
    border-bottom: 0px solid !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
    background: #4099FF !important;
    color: white !important;
    border: 1px solid #4099FF !important;
    border-radius: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    margin-left: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
    border: 1px solid lightgrey;
    border-radius: 0px !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button{
    border: 1px solid lightgrey !important;
    border-radius: 0px !important;
    color: #4099ff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #0062af;
    background-color: #0062af;
    background: #0062af;
    background:#0062af;
    background: #0062af;
    background: #0062af;
    background: #0062af;
    background: #0062af;
}
.dataTables_wrapper .dataTables_length select {
    border: 0px solid #aaa;
    border-radius: 0px;
    border-bottom: 1px solid black;
}
tr:nth-child(even) {
    background-color: #EBF6FF !important;
}
table.dataTable thead th{
    border-bottom: 0px solid !important;
    background-color: var(--primary);
    padding: 20px 30px 20px 15px !important;
}
table.dataTable thead th:first-child{
    border-radius: 12px 0px 0px 0px;    
}
table.dataTable thead th:last-child{
    border-radius: 0px 12px 0px 0px;    
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 12px 15px !important;
    word-break: break-word;
}
.s-no{
    min-width: 30px !important;
}
.table-img{
    min-width: 60px !important;
}
.name{
    min-width: 100px !important;
}
.add-btn button{
    background-color: #008FFF;
    padding: 10px 30px;
    border-radius: 6px;
    border: 0px solid !important;
    color: white;
}
.certificate-img{
    max-width: 400px;
}
.certificate-view-btn a{
    text-decoration: underline;
    color: #008FFF;
}
.table-details{
    max-width: 300px !important;
}
.table-posted-by{
    min-width: 80px !important;
}
.table-user-details{
    min-width: 320px !important;
}
.table-message{
    min-width: 300px !important;
    max-width: 450px !important;
}
.form-control:disabled {
    background-color: #ffffff !important;
}
.table-posted-at{
    min-width: 100px;
}
/* Login */

.login-left {
    background: url('../images/login-bg.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0px;
    top: 0px;
    max-width: 50%;
}
.login-left-content{
    background: #ffffffa1;
    border-radius: 16px;
    backdrop-filter: blur(16px);
}
.logo {
    max-width: 80px;
}
.login-left h1 {
    color: var(--primary) ;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2rem;
}
.login-content {
    height: 91.2%;
}
.login-img {
    max-width: 660px;
    margin: 0px auto;
    display: block;
}
.login-form {
    max-width: 420px;
    margin: auto;
}
.login-form h4{
    color: var(--primary);
    text-transform: uppercase;
}
.login .form-control {
    box-shadow: unset !important;
}
::-webkit-inner-spin-button{
    display: none;
}
/* Header */

nav{
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.1);
}
.scroll-header{
    box-shadow: 0px 0px 4px 0px #00000038;
    padding: 8px 0px !important;
    transition: all 0.4s ease-in-out;
}
.nav-link{
    color: var(--black);
    font-size: 18px;
}
.nav-link.active{
    color: var(--primary) !important;
    font-weight: 600;
}
.nav-tabs .nav-link.active {
    color: var(--white) !important;
    background-color: var(--primary);
    font-weight: 500;
    border-radius: 6px !important;
    border: 0px solid !important;
}

.nav-tabs .nav-link.active:hover{
    background-color:var(--primary) !important;
    border: 0px solid;
}
.nav-tabs .nav-link:hover{
    background-color:#F5F5F5 !important;
    border: 0px solid;
}
.nav-tabs{
    background-color: #F5F5F5;
    border: 0px solid;
}
.nav-tabs .nav-item .nav-link {
    min-width: 160px;
    border: 0px solid;
}
.navbar-brand{
    max-width: 80px;
}
.offcanvas-title img{
    max-width: 80px;
}
.login-btn{
    color: var(--primary);
    border: 2px solid var(--primary);
    font-weight: 500;
    padding: 8px 40px !important;
    border-radius: 12px;
    text-transform: uppercase;
}
.login-btn:hover{
    color: var(--primary);
}
.offcanvas.offcanvas-start{
    width: 300px;
}
.sidebar-toggle{
    border-radius: 4px;
    cursor: pointer;
    height: 48px;
    width: 48px;
    border-radius: 50%;
    min-width: 48px;
}
.sidebar ul li:hover a{
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 6px;
}
.sidebar ul li:hover a{
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 6px;
}
.bg-color-black{
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 4px 4px 0px 0px !important;
}
.sidebar ul li ul{
    border-radius: 0px 0px 4px 4px;
}
#dropdown ul{
    transition: all 0.4s ease-in-out;
}
#dropdown .fa{
    transition: all 0.4s ease-in-out;
}
.dropdown-open{
    animation: translate 0.4s ease-in-out ;
}
@keyframes translate {
    0%{
        height: 0px;
        overflow: hidden;
    }
    100%{
        height: 127.5px;
        overflow: hidden;
    }
}
.rotate-icon{
    transform: rotate(90deg);
}
.sidebar ul li:hover ul li a{
    background-color: transparent;
    border-radius: 6px;
}
.sidebar ul li:hover a.active{
    background-color: var(--white);
    border-radius: 6px;
}
.sidebar-toggle:hover{
    background-color: #00000036;
}
.sidebar-open + .navbar + .main-wrapper, .sidebar-open + .navbar{
    margin-left: 70px;
    transition: all 0.3s ease-in-out;
}
.sidebar-toggle .fa-bars{
    font-size: 24px;
}
.cme-global-brand .logo{
    font-size: 24px;
    font-weight: 700;
    min-width: 170px;
    width: 100%;
    max-width: 170px;
    transition: all 0.3s ease-in-out;
}
.signup-btn{
    background-color: var(--primary);
    color: var(--white);
    font-weight: 500;
    padding: 8px 40px !important;
    border-radius: 12px;
    text-transform: uppercase;
}
.ps-4-5{
    padding-left: 2.5rem !important
}
.signup-btn:hover{
    color: var(--white);
}
.start-free-trial{
    background-color: var(--primary) !important;
}
.btn:active{
    background-color: var(--primary) !important;
}
.btn:focus-visible {
    background-color: var(--primary);
}
/* Sidebar */
.sidebar{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: var(--primary);
    /* box-shadow: 0px 0px 6px 0px rgb(0 0 0 / 10%); */
    height: 100vh;
    min-width: 70px;
    width: 100%;
    max-width: 300px;
    overflow: hidden;
    overflow-y: auto;
    transition: all 0.3s ease-in-out;
}
.sidebar li{
    min-width: 250px;
}
.sidebar-open {
    max-width: 70px;
    transition: all 0.3s ease-in-out;
}
.sidebar::-webkit-scrollbar {
    width: 8px;
  }
  
 .sidebar::-webkit-scrollbar-track {
    border-radius: 10px;
  }
 .sidebar::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.75); 
    border-radius: 10px;
  }
 .sidebar::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.75); 
  }
.navbar{
    margin-left: 301px;
    transition: all 0.3s ease-in-out;
    border-bottom: 1px solid #00000014;
}
.sidebar .active img{
    filter: invert(32%) sepia(56%) saturate(4113%) hue-rotate(190deg) brightness(76%) contrast(107%);
}
.sidebar img{
    max-width: 22px;
}
.sidebar-open .logo{
    display: none !important;
    transition: all 0.3s ease-in-out;
}
.sidebar-open .me-2 {
    margin-right: 1rem!important;
    transition: all 0.3s ease-in-out;
}
.sidebar ul{
    list-style: none;
}
.sidebar ul a{
    color: var(--white);
    padding: 10px 12px !important;
    display: block;
    font-size: 15px;
}
.sidebar ul #dropdown div{
    color: var(--white);
    padding: 12px !important;
    display: block;
    cursor: pointer;
    border-radius: 6px;
}
.sidebar ul #dropdown div:hover{
    background-color: rgba(0, 0, 0, 0.21);
}

.sidebar .active{
    background-color: var(--white);
    color: var(--primary);
    border-radius: 6px;
    font-size: 15px;
}
.main-wrapper{
    margin: 80px 0px 0px 301px;
    background-color: var(--background);
    padding: var(--p-40);
    padding-bottom: 20px;
    position: relative;
    min-height: 89.3vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
}


/* Page container */
.page-content h6, .page-content span{
    color: var(--primary);
}
.page-topbar{
    padding: 40px;
    margin-top: 60px;
}
.page-topbar-img{
    position: absolute;
    bottom: 0px;
    right: 30px;
}
.search-box img{
    top: 11px;
    left: 12px;
    width: 18px;
}
.search-box input{
    padding: 8px 10px 8px 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.12);
    border: 0px solid;
    border-radius: 4px !important;
    max-width: 200px;
}
.border-bottom{
    border-bottom: 1px solid #EBEBEB;
}
.title-cme{
    min-width: 80px;
}
.upload-img-btn {
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    width: 48px;
    height: 48px;
    border-radius: 50%;
    left: 40%;
    bottom: -10%;
    background-color: white;
    cursor: pointer;
}
.cme-item{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border: 2px solid transparent;
}
.cme-item-selected{
    border: 2px solid var(--primary);
    box-shadow: 0px 0px 0px 0px;
}
.cme-date img{
    max-width: 18px;
}
.cme-basic-info p{
    font-size: 14px;
}
.credits p, .credits .cme-date{
    font-size: 14px;
}
.delete, .edit{
    cursor: pointer;
}
.cme-basic-info h4{
    color: var(--primary);
    font-weight: 500;
    font-size: 1.1rem;
}
.verfied-line img{
    max-width: 18px;
}
.credits p span{
    color: var(--primary);
}
.caret-right-icon .fa{
    font-size: 28px;
}

/* profile */
.profile-img{
    max-width: 220px;
    margin: 0px auto;
    width: 220px;
    height: 220px;
}
.profile-img img{
    border-radius: 50%;
}
.date-range .select2-container{
    min-width: 180px;
    max-width: 180px;
}
.profile-img .upload-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.tower-file .fa-camera{
    color: #5b5b5b;
}
.calendar-range .form-control {
    max-width: 180px;
}
.calendar-range ::-webkit-calendar-picker-indicator{
    display: none !important;
}
.upload-btn{
    max-width: 40px;
    height: 40px;
    min-width: 40px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-color: var(--white);
    border-radius: 40px;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%, 0%);
    cursor: pointer;
}
.profile-content input{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
.select2-container--default .select2-selection--single {
    background-color: #fff !important;
    border: 0px solid #aaa !important;
    border-radius: 4px !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15) !important;
    height: 40px !important;
}
.calendar-black-img{
    right: 10px;
    top: 6px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 40px !important;
    padding-left: 12px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
    top: 7px !important;
    right: 7px !important;
}
textarea{
    border-radius: 8px !important;
}
.error-show{
    font-size: 14px;
    font-weight: 500;
}

/* Add CME */

.submit-btn button{
    padding: 8px 60px;
}
/* Change Password */
.change-password-btn button{
    background: #008fff;
    padding: 10px 50px;
    border: 0px solid;
    border-radius: 6px;
    color: var(--white);
}
.change-password-container{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* Text Formatter */
.note-toolbar {
    background: #0062ad;
}
.note-btn-group .note-btn {
    border-color: var(--primary);
    padding: 0.28rem 0.65rem;
    font-size: 15px;
    margin: 6px 4px;
    border-radius: 0px !important;
    background-color: var(--primary);
    color: var(--white);
}
.btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show>.btn-light.dropdown-toggle {
    color: #212529;
    background-color: hwb(0deg 0% 100% / 15%);
    border-color: #ffffff;
}
.dropdown-toggle::after {
    border-top: 0.3em solid white;
}
.note-btn-group .note-btn i{
    color: var(--white);
}
.note-btn:hover {
    background-color: var(--primary) !important;
}
/* Responsiveness */

@media screen and (min-width:1600px) {
    /* Global */
    .main-wrapper {
        min-height: 91.1vh;
    }
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1520px;
    }
    p {
        font-size: 22px;
    }
    .form-control {
        padding: 6.5px 15px;
        font-size: 18px;
    }
    .cme-basic-info h4 {
        font-size: 1.2rem;
    }
    label {
        font-size: 20px;
    }
    .form-check-input {
        width: 24px;
        height: 24px;
    }
    .btn{
        padding: 10.5px 0px;
        font-size: 22px;
    }
    a {
        font-size: 22px;
    }
    /* Login */
    .logo {
        max-width: 120px;
    }
    .login-left h1 {
        font-size: 2.4rem;
    }
    .login-form h4 {
        font-size: 2rem;
    }
    .login-form {
        max-width: 480px;
    }
    .login-content {
        height: 90%;
    }
    .login-img {
        max-width: 680px;
    }
    .login .mb-3 {
        margin-bottom: 1.5rem!important;
    }
    .mb-4 {
        margin-bottom: 2.4rem!important;
    }
    .p-5{
        padding: 4rem !important;
    }
}
@media screen and (max-width:1400px) {
    .login-img {
        max-width: 500px;
    }
    .logo {
        max-width: 70px;
    }
    .login-left h1 {
        font-size: 1.8rem;
    }
    
}
@media screen and (max-width:1330px) {
    .calendar-range .form-control {
        max-width: 150px;
    }
    .search-box input {
        max-width: 150px;
    }
    .date-range .select2-container {
        min-width: 150px;
        width: 150px !important;
    }
}
@media screen and (max-width:1200px) {
    .nav-link {
        font-size: 18px;
    }
    .sidebar {
        transition: all 0.3s ease-in-out;
        z-index: 99;
        border-right: 1px solid #e6e6e6;
        left: -300px;
        /* min-width: 300px; */
    }
    .sidebar-open {
        min-width: 300px;
        left: 0px;
        top: 97px;
    }
    .sidebar-open + .navbar + .main-wrapper, .sidebar-open + .navbar {
        margin-left: 0px;
    }
    .main-wrapper {
        margin: 97px 0px 0px 0px;
    }
    .navbar {
        margin-left: 0px;
    }
    .sidebar-toggle img{
        filter: brightness(0)invert(0);
    }
    .sidebar {
        height: 91vh;
        top: 97px;
    }
}
@media screen and (max-width:992px) {
    .login-container{
        box-shadow: 0px 0px 8px 0px #dadada;
        border-radius: 12px;
        padding: 48px 24px;
    }
    .logo {
        margin: 0px auto;
    }
    .page-topbar {
        margin-top: 0px;
    }
    tr,td{
        white-space: nowrap;
    }
    .sidebar {
        top: 81px;
    }
    .main-wrapper {
        margin: 81px 0px 0px 0px;
    }
}
@media screen and (max-width:767px) {
    .page-topbar-img {
        right: 32px;
        max-width: 240px;
    }
    .calendar-range .form-control {
        max-width: 170px;
    }
    .search-box input {
        max-width: 170px;
    }
    .date-range .select2-container {
        min-width: 170px;
        width: 170px !important;
    }
}
@media screen and (max-width:576px) {
    .main-wrapper {
        margin: 65px 0px 0px 0px;
    }
    .page-topbar{
        flex-direction: column;
    }
    .page-topbar-img {
        position: relative;
        bottom: 0px;
        right: 0px;
        max-width: 100%;
    }
    .page-topbar {
        padding: 24px;
        margin-top: 0px;
    }
    :root {
        --p-40: 16px;
    }
    .calendar-range .form-control {
        max-width: 100%;
    }
    .search-box input {
        max-width: 100%;
    }
    .date-range .select2-container {
        min-width: 180px;
        max-width: 100%;
        width: 100% !important;
    }
}

