.drag-area{
  border: 2px dashed #b8b8b8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.drag-area.active{
  border: 2px solid #fff;
}
.drag-area img{
  max-width: 80px;
}
.drag-area.active img{
  max-width: 100%;
}
.drag-area header{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}
.drag-area span{
  font-size: 25px;
  font-weight: 500;
  color: #fff;
  margin: 10px 0 15px 0;
}
.drag-area button{
  border: none;
  outline: none;
  background: #fff;
  color: var(--primary);
  padding: 0px;
}
.drag-area button:hover{
  border: none;
  outline: none;
  background: #fff !important;
  color: var(--primary);
}
.drag-area img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}
