:root {
    --theme-dark: #1D4569;
    --theme-orange: #F6A500;

    --theme-color: #1D4569;
    --primary-color: #66B22E;
    --theme-secondary-color: #fcb52f;
    --white: #fff;
}

body {
    font-family: 'Manrope', sans-serif;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    /* background-color: #131217; */
    overflow-x: hidden !important;
}

h1,
h2,
h3 {
    color: #151a33;
    margin: 0;
}

p {
    margin: 0 0 20px;
    line-height: 1.8em;
}

.primary__text {
    color: var(--primary-color);
}

.font--12 {
    font-size: 12px !important;
}

.font--13 {
    font-size: 13px !important;
}

.font--14 {
    font-size: 14px !important;
}

.font--16 {
    font-size: 16px !important;
}

.top--nav {
    background-color: var(--theme-color);
}

.top--nav a:hover {
    text-decoration: none;
    color: rgb(230, 224, 224) !important;
}

.top__divider {
    background-color: rgba(255, 255, 255, 0.3);
}

nav .nav-link {
    font-size: 13px;
    font-weight: 700;
}


nav .nav-link.active {
    color: #66B22E !important;
}

.collapse li:last-child {
    border-left: 1px solid #ACB5BD;
    padding-top: 5px
}


.fixed-top {
    background-color: #fff;
    box-shadow: 0px 10px 40px 0px rgba(47, 47, 47, 0.1);
    transition: background 0.3s, border 0.3s, box-shadow 0.3s;
}

.hero {
    /* background-image: url('../images/hero-background.jpg'); */
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    /* height: 80vh; */
    color: var(--white);
}

.banner__sub {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    color: #495057;
}

.banner__title {
    font-weight: 800;
    font-size: 56px;
    color: #495057;
}

.banner__title span {
    color: var(--theme-orange);
}

.banner__description {
    font-weight: 500;
    font-size: 14px;
    color: #495057;
}

.hero .btn {
    font-weight: 700;
    font-size: 12px;
}

.home-video-ask {
    position: relative;
}

.home-video-ask img {
    border-radius: 24px;
    filter: brightness(0.3);
}


/* .home-video-ask::before {
    background-color: rgba(33, 36, 41, 0.7);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
} */

.btn__primary {
    color: #fff;
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    font-weight: 700;
    font-size: 12px;
    padding: .8rem 3rem !important;
    border-radius: 8px;
}

.btn__primary:hover {
    color: #fff;
    background-color: #5ca329;
    border-color: #5ca329;
}

.btn__eminence {
    color: #fff;
    background-color: #7A2985;
    border-color: #7A2985;
    font-weight: 700;
    font-size: 13px;
    padding: .8rem 3rem !important;
    border-radius: 8px;
}

.btn__eminence:hover {
    color: #fff;
    background-color: #7a2985e3;
    border-color: #7a2985e3;
}


.btn__blue {
    color: #fff;
    background-color: #179EDA;
    border-color: #179EDA;
    font-weight: 700;
    font-size: 13px;
    padding: .8rem 3rem !important;
    border-radius: 8px;
}

.btn__blue:hover {
    color: #fff;
    background-color: #1693c8;
    border-color: #1693c8;
}


.about_area {
    /*    filter: drop-shadow(2px 2px 20px rgba(29, 69, 105, 0.1));*/
    /*    background: #F8F9FA;*/
    background: #F8F9FA;
}

.about_area__stat {
    background: #fff;
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    box-shadow: 0px 10px 30px rgba(100, 100, 100, 0.05);
    border-radius: 16px;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.about_area__stat .value {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -0.01em;
}

.about_area__stat .description {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #ACB5BD;
}

.about_area__stat .value.registered {
    color: #66B22E;
}

.about_area__stat .value.employed {
    color: #F6A500;
}

.about_area__stat .value.unemployed {
    color: #E84E1B;
}

.about_area__card {
    /*    filter: drop-shadow(2px 2px 20px rgba(29, 69, 105, 0.1));*/
    /*    background: #F8F9FA;*/
}


.about_area__card img {
    object-fit: fill;
    height: 100%;
}

.about_area__left {
    background: #66B22E;
    color: #fff;
}

.about_area__left h2 {
    font-size: 40px;
}

.about_area__left p {
    font-weight: 500;
    font-size: 16px;
}

.about_area__left a {
    font-weight: 700;
    font-size: 16px;
    color: #fff;
}

.section__title {
    font-size: 40px;
}

.section__sub {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #ACB5BD;
}

.our_solutions {
    background: #F8F9FA;
}

.our_solutions__card {
    padding: 200px 40px 10px;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    color: #fff !important;

}

.our_solutions__card.card_1 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/our_solutions_1.jpg');
}

.our_solutions__card.card_1::before {
    background-color: rgba(0, 160, 153, 0.35);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.our_solutions__card.card_2 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/our_solutions_2.jpg');
}

.our_solutions__card.card_2::before {
    background-color: rgba(122, 41, 133, 0.35);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.our_solutions__card.card_3 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/our_solutions_3.jpg');
}

.our_solutions__card.card_3::before {
    background-color: rgba(23, 158, 218, 0.35);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.our_solutions__card.card_4 {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('../images/our_solutions_4.jpg');
}

.our_solutions__card.card_4::before {
    background-color: rgba(246, 165, 0, 0.35);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.our_solutions__card h6 {
    font-size: 20px;
}


.our_media {
    background: #FAFAFA;
}

.our_media__card {
    padding: 180px 40px 10px;
    position: relative;
    height: 40vh !important;
    z-index: 2
}

.our_initiatives__card {
    padding: 200px 40px 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff !important;
    height: 50vh !important;
    min-height: 100% !important;
    max-height: 100% !important;
}

.our_initiatives__card h6 {
    font-size: 20px;
}

.our_initiatives__card.card_1 {
    background-image: url('../images/image_1.jpg');
}

.our_initiatives__card.card_2 {
    background-image: url('../images/image_2.jpg');
}

.our_initiatives__card.card_3 {
    background-image: url('../images/image_3.jpg');
}

.our_initiatives .left_abstract {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}

.our_media__card p {
    color: var(--white);
}

.our_media__card::before,
.our_initiatives__card::before,
.our_solutions__card::before {
    background-color: rgba(33, 36, 41, 0.7);
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.our_media__card p,
.our_media__card a,
.our_initiatives__card p,
.our_initiatives__card h6,
.our_solutions__card h6,
.our_solutions__card p {
    position: relative;
    z-index: 2;
}

.entrepreneurship {
    background-image: url('../images/enterpreneurship.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our_media__card.entrepreneurship a {
    color: #fff;
    background-color: #0375A7;
    border-color: #0375A7;
    font-weight: 700;
    font-size: 15px;
    padding: .8rem 3rem !important;
    text-decoration: none;
}

.marketing {
    background-image: url('../images/marketing.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.our_media__card.marketing a {
    color: #fff;
    background-color: #F6A500;
    border-color: #F6A500;
    font-weight: 700;
    font-size: 15px;
    padding: .8rem 3rem !important;
    text-decoration: none;
}

.media_items {
    z-index: 5;
}

.right_abstract {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 0
}

.partners {
    background: #212429;
}

/* Blog */
.blog__card {
    background-color: var(--white);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.blog__card img {
    border-radius: 12px 12px 0px 0px;
}

.blog__card .blog__title {
    color: #1D4569;
    font-weight: 800;
    /* font-size: 24px; */
}

.blog__card ul {
    display: flex;
}

.blog__card ul li {
    flex: 0 0 50%;
}

.blog__card ul li:first-child {
    border-right: 1px solid #ACB5BD !important;
    color: #179EDA !important;
}

.blog__card ul li {
    color: #ACB5BD;
    font-weight: 500;
}

.blog__card ul li:first-child a {
    color: #179EDA !important;
    font-weight: 700;
}

.blog__excerpts {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #495057;
}


/* Events */

/* Blog */
.blog__card {
    background-color: var(--white);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.blog__card img {
    border-radius: 12px 12px 0px 0px;
}

.blog__card .blog__title {
    color: #1D4569;
    font-weight: 800;
    font-size: 24px;
    /* font-size: 24px; */
}
.blog__card p{
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
}
.blog__card .blog-details{
    height: 70%;
}
.blog__card ul {
    display: flex;
}

.blog__card ul li {
    flex: 0 0 50%;
}

.blog__card ul li:first-child {
    border-right: 1px solid #ACB5BD !important;
    color: #179EDA !important;
}

.blog__card ul li {
    color: #ACB5BD;
    font-weight: 500;
}

.blog__card ul li:first-child a {
    color: #179EDA !important;
    font-weight: 700;
}

.blog__excerpts {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #495057;
}

/* Blog */
.event__card {
    background-color: var(--white);
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.06);
    border-radius: 12px;
}

.event__card img {
    border-radius: 12px 12px 0px 0px;
}

.event__card .event__title {
    color: #1D4569;
    font-weight: 800;
    /* font-size: 24px; */
}

.event__card ul {
    display: flex;
}

.event__card ul li {
    flex: 0 0 50%;
}

.event__card ul li {
    color: #ACB5BD;
    font-weight: 500;
}

.event__excerpts {
    font-weight: 500;
    font-size: 14px;
    line-height: 25px;
    color: #495057;
}

.event_page .image {
    border-radius: 16px;
}

.event_page .title {
    font-weight: 800;
    font-size: 56px;
}

.event_page__sub {
    font-weight: 800 !important;
    font-size: 24px !important;
    color: #495057;
}

.image_caption {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #5A7184;
}

.event_page p {
    font-weight: 500;
    font-size: 16px;
    color: #5A7184;
}

.event_meta .title {
    font-weight: 600;
    font-size: 16px !important;
    color: #ACB5BD;
}

.event_meta .details a {
    font-weight: 500;
    font-size: 14px !important;
    color: #66B22E !important;
    text-decoration: underline;
}

.event_meta .details {
    font-weight: 600;
    font-size: 16px !important;
    color: #495057;
}

.resource_card,
.job_card {
    background: #FFFFFF;
    border: 1px solid #E5EAF4;
    box-sizing: border-box;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
}

.job_card .title {
    font-weight: 500;
    font-size: 20px;

    color: #1565D8;
}

.job_card .location {
    font-weight: 500;
    font-size: 14px;
    color: #5A7184;
}

.department {
    font-weight: 500;
    font-size: 14px;
    color: #179EDA;
}

.job_card .marker {
    right: 20px;
    top: 37%;
}

.job_actions .form-control {
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    height: 56px;
    color: #ACB5BD;
    font-weight: 500;
    font-size: 16px;
}

.job_actions .form-control::placeholder {
    color: #ACB5BD;
}

.page {
    position: relative;
}

.page_abstract {
    right: 0;
    position: absolute;
    bottom: 0;
    opacity: 0.45;
}

.page__header .sub {
    font-weight: 700;
    font-size: 18px;
    color: #DDE2E5;
}

.page__header h1 {
    font-weight: 800;
    font-size: 56px;
}

.blog__header {
    background: #BC3B6C;
}

.events__header {
    background: #F6A500;
}

.legal__header {
    background: #1D4569;
}

.contact__header {
    background: #212429;
}

.resources__header {
    background: #179EDA;
}

.programmes__header {
    background: #00A099;
}

.jobs__header {
    background: #E84E1B;
}

.about__header {
    background: #66B22E;
}

.job_details h3 {
    margin-bottom: 3rem;
    margin-top: 3rem;
}

.job_details ul li {
    margin-bottom: 22px;
    display: flex;
    align-items: start;
}

.job_details ul li:before {
    color: transparent;
    background-color: #36B37E;
    font-size: 1px;
    content: " ";
    margin-left: -1.3em;
    margin-right: 15px;
    margin-top: 4px;
    padding: 10px;
    -webkit-mask-image: url('../images/check.svg');
    -webkit-mask-size: contain;
    -webkit-mask-repeat: no-repeat;
}

.job_details_form {
    background: #FAFAFA;
}

.job_details_form h2 {
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    color: #183B56;
}

.job_details_form form {
    background: #FFFFFF;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 5rem 4rem;
}

.form-control {
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    color: #ACB5BD;
    font-weight: 500;
    font-size: 16px;
}

input.form-control {
    height: 56px;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    margin-bottom: 0;
    height: 56px;
}


.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 56px;
    font-weight: 400;
    color: #495057;
    background-color: #fff;
    border: 1px solid #DDE2E5;
    box-sizing: border-box;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
    border-radius: 8px;
    padding: 0.9rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(1.5em + 0.75rem);
    height: 56px;
    padding: 0.9rem !important;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: inherit;
    border-radius: 0 8px 8px 0;
    border: 1px solid #DDE2E5;
}

.image_wrapper img {
    /* border: 0.4px dashed #333; */
}

.contact {
    background: #FAFAFA;
}

.contact form {
    background: #FFFFFF;
    box-shadow: 0px 10px 35px rgba(0, 0, 0, 0.03);
    border-radius: 8px;
    padding: 5rem 4rem;
}

.contact_info h5 {
    font-weight: 800;
    font-size: 24px;
    color: #495057;
}

.contact_info p {
    font-weight: 500;
    font-size: 16px;
    color: #ACB5BD;
}

.contact_info a {
    font-weight: 500;
    font-size: 16px;
    color: #66B22E;
}

.about_intro {
    background: #FAFAFA;
}

.team-item {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px rgba(29, 69, 105, 0.1);
    border-radius: 4px;
    height: 100%;
}

.info__area .name {
    font-weight: 800;
    font-size: 24px;
    color: #212429;
}

.info__area .position {
    font-weight: 500;
    font-size: 14px;

    color: #495057;
}

.about_left {
    position: absolute;
    left: 0;
    top: 0
}

.about_right {
    position: absolute;
    right: 0;
    top: 0
}

/*Footer styles*/

.footer {
    width: 100%;
    bottom: 0;
    /*    background-color: var(--theme-color);*/
    background-color: #212429;
}

.footer input {
    border: 1px solid #DDE2E5;
    background-color: #0000;
    font-size: 14px;
    height: 46px;
}

.footer__logo {
    width: 130px;
}

.footer__tagline {
    color: #6fb6e9;
    font-size: 17px;
    font-weight: 600;
    line-height: 1.6em;
}

.footer__description,
.footer__description a {
    color: rgba(255, 255, 255, .7);
    font-size: 13px !important;
}

.footer__title {
    font-weight: 800;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.footer a,
.footer li {
    color: rgba(255, 255, 255, .7);
    font-size: 15px;
}

.footer a:hover {
    text-decoration: none;
    color: #fff;
}


/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {

    /*    CSS*/

}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

    /*    CSS*/

}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

    /*    CSS*/
    .event_page .title {
        font-weight: 800;
        font-size: 26px !important;
    }

    .page_abstract {
        opacity: 0.3;
    }

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

    /*    CSS*/
    .event_page .title {
        font-weight: 800;
        font-size: 26px !important;
    }

    .page_abstract {
        opacity: 1;
    }
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

    /*    CSS*/
    .event_page .title {
        font-weight: 800;
        font-size: 26px !important;
    }

    .page_abstract {
        opacity: 0.15;
    }
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

    /*CSS*/
    .event_page .title {
        font-weight: 800;
        font-size: 26px !important;
    }

    .page_abstract {
        opacity: 0.15;
    }


}
