/* global */
:root {
    --green: #66b22e;
    --orange: #F6A500;
    --white: #ffffff;
    --sky-blue: #179EDA;
    --black: #000000;
    --primary: #1a4769
}
body {
    font-family: 'Manrope', sans-serif;
}

.green-color{
    color: var(--green);
}
.orange-color{
    color: var(--orange);
}
.mehroom-color{
    color: #E84E1B;
}
.primary-color{
    color: var(--primary) !important;
}
/* header */
nav .navbar-brand {
    max-width: 100px;
}
.heading h2{
    color: #174467;
    font-size: 1.8rem;
}
nav .join-community-btn a {
    display: inline-block;
    background-color: var(--green);
    color: var(--white);
    font-size: 13px;
    font-weight: 700;
    padding: 10px 30px;
    text-transform: uppercase;
    border-radius: 6px;
}
nav .nav-link {
    color: rgba(0, 0, 0, .5);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}
nav .nav-link:hover {
    color: rgba(0, 0, 0,1);
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

/* hero */

.hero-section {
    min-height: 84vh;
}
.hero-section .banner-slide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section .banner-slide::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #00000080;
    left: 0px;
    top: 0px;
    z-index: 11;
}
.hero-section .swiper-slide-1{
    background: url('../images/slider-1.jpg');
}
.hero-section .swiper-slide-2{
    background: url('../images/slider-2.jpg');
}
.hero-section .swiper-slide-3{
    background: url('../images/slider-3.jpg');
}
.hero-section .swiper-slide-4{
    background: url('../images/slider-4.jpg');
}
.hero-section .swiper-slide{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.hero-section .h-100 {
    min-height: 84vh;
    position: relative;
    z-index: 11;
}
.hero-section h2 {
    font-size: 3rem;
    font-weight: 700;
    color: #66b22e;
}
.hero-section h6 {
    font-weight: 600;
}
.hero-section h2 span {
    color: var(--orange);
}
.hero-section .btns a {
    text-transform: uppercase;
    padding: 10px 30px;
    display: inline-block;
    color: var(--white);
    text-decoration: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 500;
}
.our-program-swiper .swiper-slide .our-programs-content::before{
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}
.hero-section .swiper-button-next, .hero-section .swiper-button-prev {
    background-color: var(--green);
    width: 48px;
    height: 48px;
    border-radius: 50%;
}
.hero-section .swiper-button-next:after, .hero-section .swiper-button-prev:after {
    font-size: 24px;
    font-weight: 700;
    color: var(--white);
}
.hero-section .btns a.jen-btn {
    background-color: var(--sky-blue);
}
.hero-section .btns a.afj-btn {
    background-color: var(--green);
}

/* counter */
.counter-part{
    margin-top: -62px;
    position: relative;
    z-index: 1;
}
.counter-part .counter-container {
    background-color: var(--white);
    border: 1px solid #e1e1e1;
    box-shadow: 0px 0px 9px 0px #0000001c;
    padding: 16px;
    border-radius: 12px;
}
.counter-item{
    border-right: 1px solid rgb(209, 209, 209);
}
.counter-item p{
    color: rgb(162, 162, 162);
}
.counter-item h3{
    font-weight: 600;
    font-size: 42px;
}

/* about ylbn */

.about-ylbn-content{
    background-color: #fafbfa;
    padding: 80px 60px;
    border-left: 3px solid var(--black);
}
.about-ylbn-content img{
    max-width: 100px;
}
.about-ylbn-content a{
    color: var(--black);
    font-weight: 700;
}
.about-ylbn-content a .fa{
    color: var(--sky-blue);
}

/* our programs */
.our-programs-content.slide-1{
    background: url("../images/image_1.jpg")
}
.our-programs-content.slide-2{
    background: url("../images/image_2.jpg");
}
.our-programs-content.slide-3{
    background: url("../images/image_3.jpg");
}
.our-programs-content.slide-4{
    background: url("../images/image_1.jpg")
}
.our-programs-content{
    position: relative;
    color: var(--white);
    z-index: 2;
    padding: 28px 28px 28px 60px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: right;
    width: 100%;
    height: 100%;
    min-height: 382px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-color: gray;
}
.our-programs-content h5{
    font-weight: 700;
}
.our-programs-content p{
    font-size: 14px;
}
.our-programs-content h5, .our-programs-content p{
    position: relative;
}
/* .our-programs-content::before{
    background-color: rgba(33, 36, 41, 0.7);
    content: '';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
} */
.our-programs .abstract-img{
    position: absolute;
    left: 0px;
    max-width: 500px;
}
.our-programs .heading{
    margin-top: 150px;
}
.our-programs .heading p{
    color: rgb(164, 164, 164);
}
.our-programs .swiper-pagination-bullet {
    width: 60px !important;
    height: 10px !important;
    border-radius: 12px !important;
}
.our-programs .swiper-pagination-bullet-active {
    background: var(--green);
}

/* ybln stories */

.ybln-stories{
    background-color: var(--primary);
}
.ybln-stories .ybln-stories-logo{
    max-width: 136px;
}
.ybln-stories .bg-white{
    color: var(--primary);
}
.ybln-stories .swiper-button-next,.ybln-stories .swiper-button-prev{
    top: -64px
}
.ybln-stories .swiper-button-prev, .ybln-stories .swiper-rtl .swiper-button-next {
    left: auto;
    right: 60px;
}
.ybln-stories .swiper-button-next:after, .ybln-stories .swiper-button-prev:after{
    color: var(--white);
    font-size: 24px;
}

/* ybln articles */
.ybln-articles .ybln-articles-logo{
    max-width: 180px;
}
.ybln-articles-item{
    background-color: var(--white);
    box-shadow: 0px 0px 8px 0px #0000001f;
    height: 100%;
}
.ybln-articles-content p span{
    color: rgb(173, 171, 171);
    text-transform: uppercase;
    font-size: 15px;
}
.ybln-articles-img{
    width: 100%;
    height: 228px;
}
.ybln-articles-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ybln-articles-content p{
    color: black;
    font-size: 14px;
    font-weight: 500;
}
.ybln-articles-content h5{
    color: var(--primary);
    text-transform: capitalize;
}
.view-all-btn a{
    color: var(--black);
    font-weight: 700;
}
.view-all-btn a .fa{
    color: var(--sky-blue);
}

/* ybln forum */
.ybln-forum{
    background-color: #fafafb;
}
.ybln-forum .ybln-forum-btn{
    display: flex;
    justify-content: end;
}
.ybln-forum-item{
    background-color: var(--white);
    padding: 24px;
    height: 100%;
    box-shadow: 0px 4px 8px 0px #00000014;
}
.ybln-forum-item p{
    font-weight: 500;
    color: var(--black);
}
.ybln-forum-item h4{
    text-transform: capitalize;
}
.ybln-forum-btn a{
    background-color: white;
    border: 2px solid #05acee;
    color: #05acee !important;
    padding: 6px 10px;
    font-weight: 700;
    border-radius: 6px;
    font-size: 14px;
}
.ybln-forum-btn a:hover{
    text-decoration: none;
}

/* CTA */

.cta-content a{
    background-color: #05acee;
    color: var(--white);
    font-size: 14px;
    padding: 10px 16px;
    border-radius: 4px;
    font-weight: 600;
}

/* footer */

footer{
    background-color: #212429;
    color: var(--white);
}
footer a, footer p{
    color: rgb(208, 208, 208);
    font-size: 14px;
}
footer a:hover{
    color: rgb(208, 208, 208);
    text-decoration: none;
}
footer h3{
    font-size: 1.4rem;
}
footer .newsletter input{
    background-color: transparent;
    padding: 12px 15px;
}
footer .newsletter a{
    background-color: var(--green);
    padding: 12px 15px;
    border-radius: 4px;
    display: block;
    max-width: 160px;
    color: var(--white);
    font-weight: 700;
    text-align: center;
    font-size: 14px;
}
footer .newsletter a:hover{
    text-decoration: none;
}
footer .newsletter p{
    font-size: 14px;
    color: rgb(208, 208, 208);
}
footer .footer-social-links ul li a{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 18px;
}
footer .facebook-icon{
    background-color: #1d4569;
}
footer .instagram-icon{
    background-color: #7a2985;
}
footer .twitter-icon{
    background-color: #179eda;
}
footer .linkedin-icon{
    background-color: #0375a7;
}
footer .footer-logo{
    max-width: 140px;
}
footer hr{
    border-top: 1px solid var(--white);
}

/* join community */
.join-community__header {
    background: var(--green);
}
.join-our-community button {
    background: var(--green);
    border: 0px solid;
    padding: 10px 40px;
}
.page_abstract {
    right: 0;
    position: absolute;
    bottom: 0;
    opacity: 0.45;
}
@media screen and (max-width:767px) {
    .about-ylbn-content {
        padding: 40px 30px;
    }
    .ybln-stories .swiper-button-next, .ybln-stories .swiper-button-prev {
        top: -120px;
    }
    .counter-item {
        border-right: 0px solid rgb(209, 209, 209);
        border-bottom: 1px solid rgb(209, 209, 209);
        padding: 10px 0px;
    }
}
.about-ybln-video iframe{
    pointer-events: none;
    /* transform: translate(6%, -25%);
    position: absolute;
    left: -50%;
    width: 172%;
    height: 187%; */
}
.ybln-profile{
    background-color: #f8f9fa;
}

.ybln-profile .heading h2{
    font-weight: 700;
}
.ybln-profile-item{
    position: relative;
    color: var(--white);
    z-index: 2;
    padding: 28px 28px 28px 60px;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    text-align: left;
    width: 100%;
    height: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.ybln-profile-item h4, .ybln-profile-item p{
    position: relative;
}
.ybln-profile-item h4{
    font-weight: 700;
}
.ybln-profile-item.slide-1{
    background: url('../images/what-we-do.jpg');
}
.ybln-profile-item.slide-2{
    background: url('../images/impact-stories.jpg');
}
.ybln-profile-item.slide-3{
    background: url('../images/curbing-unemployment.jpg');
}
.ybln-profile-item.slide-4{
    background: url('../images/trackling-rural.jpg');
}
.ybln-profile-item.slide-1::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #1d6967c2;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ybln-profile-item.slide-2::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #5c137e67;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ybln-profile-item.slide-3::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #066c96a6;
    position: absolute;
    left: 0px;
    top: 0px;
}
.ybln-profile-item.slide-4::before{
    content: '';
    width: 100%;
    height: 100%;
    background-color: #fcffb767;
    position: absolute;
    left: 0px;
    top: 0px;
}
/* Dropdown */

.dropdown {
    display: inline-block;
    position: relative;
  }
  
  .dd-button {
    padding: 0px 30px 0px 0px;
    cursor: pointer;
  }
  .dropdown.nav-link{
    padding: .5rem 0rem !important;
    margin-bottom: 0px;
  }
  .dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
  }  
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 0;
    margin: 2px 0 0 0;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: #ffffff;
    list-style-type: none;
    z-index: 99;
  }
  
  .dd-input + .dd-menu {
    display: none;
  } 
  
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  
  .dd-menu li {
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li:hover {
    background-color: #f6f6f6;
  }
  .blog-img{
    height: 348px;
    width: 100%;
  }
  .blog-item-img{
    height: 233px;
  }
  .event-img{
    height: 200px;
  }
  .event-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-item-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .blog-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  .dd-menu li a {
    display: block;
    padding: 10px 20px;
    color: #8d8d8d;
    text-decoration: none;
  }
  .dd-menu li a:hover {
    color: #303030;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
  .about-ybln-video{
    width: 100%;
    overflow: hidden;
    height: 489px;
  }